.h1 {
  font-size: 50px;
  font-style: normal;
  font-family: source sans pro ;
  align-self: center;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.h12 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro ;
  color: #F4FFF8;
  transform: translate(80%,1750%);
}

/* about.html*/
.h8 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}
.p {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  }

/*education.html*/
.h9 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}
.p2 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: flex-start;
}

/*interets.html*/
.h10 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}
.p3 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}
/*work.html*/
.h11 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}
.p4 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: center;
}

.h20{
    display: flex;
    justify-content: flex-end;
  }
  .h20 a:link{
    color: #F4FFF8;
  }
  .h20 a:hover{
    color: #8BAAAD;
  }
  .h20 a:visited{
    color: #1C3738;
  }
