.h1 {
  font-size: 50px;
  font-style: normal;
  font-family: source sans pro ;
  align-self: center;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h3 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro ;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h4 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro ;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h5 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro ;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.h6 {
  font-size: 30px;
  font-style: normal;
  font-family: source sans pro ;
  color: #F4FFF8;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
h3 a:link{
  color: #F4FFF8;
}
h3 a:hover{
  color: #8BAAAD;
}
h3 a:visited{
  color: #1C3738;
}
h4 a:link{
  color: #F4FFF8;
}
h4 a:hover{
  color: #8BAAAD;
}
h4 a:visited{
  color: #1C3738;
}
h5 a:link{
  color: #F4FFF8;
}
h5 a:hover{
  color: #8BAAAD;
}
h5 a:visited{
  color: #1C3738;
}
h6 a:link{
  color: #F4FFF8;
}
h6 a:hover{
  color: #8BAAAD;
}
h6 a:visited{
  color: #1C3738;
}

/* about.html*/
.p {
  font-size: 20px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  }

/*education.html*/
.p2 {
  font-size: 20px;
  font-style: normal;
  font-family: source sans pro;
  color: #F4FFF8;
  display: flex;
  justify-content: flex-start;
}
